@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.Person
@model IRenderingModel<IItemWrapper, IPerson>

@if (Model.RenderingItem == null)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(PersonConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
  return;
}

<div class="mosaic mosaic-bar-bottom mosaic-overlay-show">
  <div class="mosaic-overlay">
    <label>@Model.RenderingItem.Title</label>
    <h4>
      @Model.RenderingItem.Name
    </h4>
    <a href="@Model.RenderingItem.GenerateUrl()" target="_blank" class="btn btn-primary text-uppercase btn-xs">
      @Html.Sitecore().Dictionary("/Person/EmployeeList/Read More", "Read more")
    </a>
  </div>
  <div class="mosaic-backdrop">
    <a href="@Model.RenderingItem.GenerateUrl()">
      @Model.RenderingItem.Picture.Render(new { @class = "img-responsive", mw = 750 })
    </a>
  </div>
</div>
