@using Sitecore.Feature.Person
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.Person
@model IRenderingModel<IEmployee, IEmployee>

@if (Model.PageItem == null)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(EmployeeConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
  return;
}

<div class="container">
  <div class="text-center">
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.PageItem.Telephone.HasValue)
    {
      <a href="tel:@Model.PageItem.TelephoneValue" class="btn btn-link">
        <i class="fa fa-phone"></i> @Model.PageItem.Telephone
      </a>
    }
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.PageItem.Mobile.HasValue)
    {
      <a href="tel:@Model.PageItem.MobileValue" class="btn btn-link">
        <i class="fa fa-mobile"></i> @Model.PageItem.Mobile
      </a>
    }
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.PageItem.Email.HasValue)
    {
      <a href="mailto:@Model.PageItem.EmailValue" class="btn btn-link">
        <i class="fa fa-envelope"></i> @Model.PageItem.Email
      </a>
    }
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.PageItem.BlogLink.HasValue)
    {
      <a href="@Model.PageItem.BlogLink.Url" target="_blank" class="btn btn-info">
        <i class="fa fa-globe"></i>
      </a>
    }
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.PageItem.TwitterLink.HasValue)
    {
      <a href="@Model.PageItem.TwitterLink.Url" target="_blank" class="btn btn-social-icon btn-twitter">
        <i class="fa fa-twitter"></i>
      </a>
    }
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.PageItem.FacebookLink.HasValue)
    {
      <a href="@Model.PageItem.FacebookLink.Url" target="_blank" class="btn btn-social-icon btn-facebook">
        <i class="fa fa-facebook"></i>
      </a>
    }
    @if (Sitecore.Context.PageMode.IsExperienceEditor || Model.PageItem.LinkedInLink.HasValue)
    {
      <a href="@Model.PageItem.LinkedInLink.Url" target="_blank" class="btn btn-social-icon btn-linkedin">
        <i class="fa fa-linkedin"></i>
      </a>
    }
  </div>
</div>