@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Fortis.Foundation.CodeGen.Templates.Feature.Person
@model IEnumerable<Sitecore.Data.Items.Item>

@{
  if (Model == null || !Model.All(i => i.IsDerived(PersonConstants.TemplateID)) || !Model.Any())
  {
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(PersonConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Html.Sitecore().CurrentItem?.ID, Html.Sitecore().CurrentRendering.Item?.ID)
    return;
  }
  var options = Html.Sitecore().CurrentRendering.GetCarouselOptions();
}

<div class="owl-carousel" data-options='{"items": @options.ItemsShown, "navigation": @(options.ShowNavigation ? "true" : "false"), "navigationText": ["<", ">"], "autoPlay": @(options.AutoPlay ? "true" : "false") }'>
  @foreach (var item in Model)
  {
    <div class="mosaic mosaic-bar-bottom mosaic-overlay-show">
      <div class="mosaic-overlay">
        <label>@item.Field(PersonConstants.Fields.Title.ID)</label>
        <h4>
          @item.Field(PersonConstants.Fields.Name.ID)
        </h4>
        <div class="btn-group-xs">
          <a href="@item.Url()" class="btn btn-default text-uppercase">
            @Html.Sitecore().Dictionary("/Person/EmployeeList/Read More", "Read more")
          </a>
        </div>
      </div>
      <div class="mosaic-backdrop">
        <a href="@item.Url()">
          @Html.Sitecore().ImageField(PersonConstants.Fields.Picture.ID, item, mw: 750, cssClass: "img-responsive")
        </a>
      </div>
    </div>
  }
</div>
