@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.Person
@model IRenderingModel<IPerson, IPerson>

@if (Model.PageItem == null)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(PersonConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
  return;
}

<div class="container">
  @Model.PageItem.Picture.Render(new { @class= "img-responsive img-circle center-block", mw = 300 })
  <h1 class="text-center">
    @Model.PageItem.Name
    <br>
    <small>
      <span class="label label-default">@Model.PageItem.Title</span>
    </small>
    <br>
    <small>
      @Model.PageItem.Summary
    </small>
  </h1>
</div>
