@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.Person
@model IRenderingModel<IItemWrapper, IQuote>

@if (Model.RenderingItem == null)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(QuoteConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
  return;
}

<blockquote class="blockquote-center @Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.GetBackgroundClass()">
  <header>
    @Model.RenderingItem.Picture.Render(new { @class = "img-responsive", mh = 150 })
    <p>
      @Model.RenderingItem.Name
    </p>
    <p>
      @Model.RenderingItem.Title@(Sitecore.Context.PageMode.IsExperienceEditor || (Model.RenderingItem.Title.HasValue && Model.RenderingItem.CiteOrigin.HasValue) ? ", " : "")
      @Model.RenderingItem.CiteOrigin
    </p>
  </header>
  <p>
    @Model.RenderingItem.Quote
  </p>
</blockquote>
