@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Dictionary.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.PageContent
@model IRenderingModel<IHasPageContent, IHasPageContent>

@if (!Model?.RenderingItem?.IsDerived(HasPageContentConstants.TemplateID) ?? true)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(HasPageContentConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
    return;
}

<div class="thumbnail">
  <a href="@Model.RenderingItem.GenerateUrl()">
    @Model.RenderingItem.Image.Render(new { @class = "img-responsive", mw = 500 })
  </a>
  <div class="caption">
    <h3 class="teaser-heading">
      @Model.RenderingItem.Title
    </h3>
    <p>
      @Model.RenderingItem.Summary
    </p>
    <a href="@Model.RenderingItem.GenerateUrl()" class="btn btn-default">
            @Html.Sitecore().Dictionary("/PageContent/Teaser/Read more", "Read more")
    </a>
  </div>
</div>