@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Fortis.Foundation.CodeGen.Templates.Feature.Navigation
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
  if (Model == null || Model.Items == null)
  {
    return;
  }
}

<ul class="nav nav-pills nav-stacked">
  @foreach (var item in Model.Items)
  {
    var navigableItem = (INavigable)item.Item;
    var hasChildren = item.IsActive && item.Children != null && item.Children.Items.Any();
    var itemClass = item.IsActive ? "active" : string.Empty;
    itemClass += item.IsActive && hasChildren ? " open" : string.Empty;
    <li class="@itemClass">
      <a href="@item.Url" target="@item.Target">
        @navigableItem.NavigationTitle
      </a>
      @if (hasChildren)
      {
        @Html.Partial("_SecondaryMenuItems", item.Children)
      }
    </li>
  }
</ul>