@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Fortis.Foundation.CodeGen.Templates.Feature.Navigation
@model Sitecore.Feature.Navigation.Models.NavigationItems

@{
  if (Model?.Items == null)
  {
    return;
  }

  var isSocialMenu = Model.Items.All(i => !string.IsNullOrWhiteSpace(((ILinkMenuItem)i.Item).IconValue));
}

<nav>
  <ul class="nav nav-service navbar-nav @(isSocialMenu ? "nav-social" : "nav-pills")">
    @foreach (var item in Model.Items)
    {
        var linkItem = (ILinkMenuItem)item.Item;
        var liclass = item.IsActive ? "active " : "";
        if (linkItem.DividerBeforeValue)
        {
            liclass += "divider-left";
        }
        <li class="@liclass">
            <a href="@item.Url" target="@item.Target" title="@(((INavigable)item.Item).NavigationTitleValue)" class="@(isSocialMenu ? "btn btn-social-icon btn-" + @linkItem.IconValue : "")">
                @if (!string.IsNullOrWhiteSpace(linkItem.IconValue))
                {
                    <span class="fa fa-@linkItem.IconValue"></span>
                }
                else
                {
                    @(((INavigable)item.Item).NavigationTitle)
                }
            </a>
        </li>
    }
  </ul>
</nav>