@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Fortis.Foundation.CodeGen.Templates.Feature.Navigation
@model Sitecore.Feature.Navigation.Models.NavigationItems

<div class="collapse navbar-collapse" id="siteNavbar">
  <ul class="nav navbar-nav">
    @if (Model?.Items != null)
    {
        foreach (var item in Model.Items)
        {
            var navigableItem = (INavigable)item.Item;
            var hasChildren = (item.Children != null && item.Children.Items.Any());
            var cssClass = "";
            if (hasChildren)
            {
                cssClass += " dropdown";
            }

            <li class="@cssClass">
                @if (hasChildren)
                {
                    <a href="@item.Url" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        @navigableItem.NavigationTitle<span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        @foreach (var subitem in item.Children.Items)
                        {
                            var @childItem = (INavigable)subitem.Item;
                            <li class="@(subitem.IsActive ? "active" : "")">
                                <a href="@subitem.Url" target="@subitem.Target">@childItem.NavigationTitle</a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <a class="text-uppercase" href="@item.Url" target="@item.Target">
                        @navigableItem.NavigationTitle
                    </a>
                }
            </li>
        }
    }
  </ul>
</div>