@using Sitecore.Feature.Social.Models
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Repositories
@using Sitecore.Foundation.Theming.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.Social
@model IRenderingModel<IItemWrapper, ITwitterFeed>
@{
  var repository = new RenderingPropertiesRepository();
  var twitterFeedProperties = repository.Get<TwitterFeedRenderingProperties>();
  var background = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.GetBackgroundClass();
}
@if (Model.RenderingItem == null)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(TwitterFeedConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
  return;
}

<div class="well @background">
  <h4>@Model.RenderingItem.FeedTitle</h4>
  <div>
    <a class="twitter-timeline" href="@Model.RenderingItem.TwitterUrl.Url" data-widget-id="@Model.RenderingItem.WidgetIdValue" data-tweet-limit="@twitterFeedProperties.TweetsToShow" data-chrome="noheader nofooter noscrollbar noborders @(string.IsNullOrEmpty(background) ? "transparent" : "")">@Model.RenderingItem.FeedTitle</a>
  </div>
</div>