@using Newtonsoft.Json.Serialization
@using Sitecore.Analytics.Model.Framework
@using Sitecore.Data.Fields
@using Sitecore.Feature.Teasers
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.Teasers
@model IRenderingModel<IItemWrapper, ITeaserContent>
@if (Model.RenderingItem == null)
{
    @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(TeaserContentConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
    return;
}

@{
    var fixedHeight = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.IsFixedHeight();
    var height = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.GetHeight();
    var style = Model.RenderingItem.TeaserImage.GetSourceUri().ToCssUrlValue();
    if (fixedHeight)
    {
        if (height == 0)
        {
            height = Model.RenderingItem.TeaserImage.Height;
        }
        style += "; height:" + height + "px;";
    }

    // Video Content Teaser is not yet used on Habitat
    ITeaserVideoContent videoRenderingItem = null;
    if (Model.RenderingItem.IsDerived(TeaserVideoContentConstants.TemplateID))
    {
        videoRenderingItem = (ITeaserVideoContent)Model.RenderingItem;
    }

    var isMedia = Model.RenderingItem.TeaserImage.HasValue || (videoRenderingItem != null && videoRenderingItem.VideoLink.HasValue);
}

<div class="jumbotron text-center @(isMedia ? "bg-media" : Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.GetBackgroundClass())" style="background-image: @style">
  @if (videoRenderingItem != null)
  {
    <video autoplay="" loop="" muted="" class="video-bg img-responsive">
      <source src="@videoRenderingItem.VideoLink.Url" type="video/mp4">
    </video>
  }

  @if (Model.RenderingItem.TeaserLabel.HasValue || Sitecore.Context.PageMode.IsExperienceEditor)
  {
    <span class="label">
      @Model.RenderingItem.TeaserLabel
    </span>
  }
  <h2>
    @Model.RenderingItem.TeaserTitle
  </h2>
  <p class="">
    @Model.RenderingItem.TeaserSummary.Render(new { linebreaks = "<br>" })
  </p>
  @Model.RenderingItem.TeaserLink.Render(new { @class = "btn btn-primary btn-lg" })
</div>
