@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.Teasers
@model IRenderingModel<IItemWrapper, ITeaserContent>

@if (Model.RenderingItem == null)
{
  @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(TeaserContentConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
  return;
}

<div class="jumbotron jumbotron-xl bg-media" style="background-image: @Model.RenderingItem.TeaserImage.GetSourceUri().ToCssUrlValue()">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>@Model.RenderingItem.TeaserTitle</h1>

        <p class="lead">
          @Model.RenderingItem.TeaserSummary.Render(new { linebreaks = "<br>" })
        </p>

        @Model.RenderingItem.TeaserLink.Render(new { @class = "btn btn-hollow btn-lg" })
      </div>
    </div>
  </div>
</div>
