@using Sitecore.Feature.Teasers
@using Sitecore.Foundation.Alerts
@using Sitecore.Foundation.Alerts.Extensions
@using Sitecore.Foundation.Theming.Extensions
@using Fortis.Model
@using Fortis.Foundation.CodeGen.Templates.Feature.Teasers
@model IRenderingModel<IItemWrapper, ITeaserContent>
@{
    if (Model.RenderingItem == null)
    {
        @Html.PageEditorError(AlertTexts.InvalidDataSourceTemplate(TeaserContentConstants.TemplateID), AlertTexts.InvalidDataSourceTemplateFriendlyMessage, Model.PageItem?.ItemID, Model.RenderingItem?.ItemID)
        return;
    }
    var backgroundClass = Sitecore.Mvc.Presentation.RenderingContext.Current.Rendering.GetBackgroundClass();
}


<div class="thumbnail @(string.IsNullOrEmpty(backgroundClass) ? "" : "thumbnail-focus " + backgroundClass) m-b-1">
  <header class="thumbnail-header">
    @if (Model.RenderingItem.TeaserLabel.HasValue || Sitecore.Context.PageMode.IsExperienceEditor)
    {
      <span class="label">
        @Model.RenderingItem.TeaserLabel
      </span>
    }
    <h3>
      @Model.RenderingItem.TeaserTitle
    </h3>
  </header>
  <div>
    <a href="@Model.RenderingItem.TeaserLink.Url">
      @Model.RenderingItem.TeaserImage.Render(new { mw = 500, @class = "img-responsive" })
    </a>
  </div>
  <div class="caption">
    <p>
      @Model.RenderingItem.TeaserSummary.Render(new { linebreaks = "<br>" })
    </p>
    @Model.RenderingItem.TeaserLink.Render(new { @class = "btn btn-default" })
  </div>
</div>
